.atlas_cedar_color{
    background-color: #6cb4b0;
}
.atlas_cedar_color:hover{
    background-color: #549cac;
}

.text_atlas_cedar_color{
    color: #6cb4b0;
}
.text_atlas_cedar_color:hover{
    color: #549cac;
}